<!DOCTYPE html>
<html>
    <head>
        <title> Video </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=10.0,minimum-scale=0.1,user-scalable=yes">
        <script src="{{ url_for("static",filename='js/jquery-3.4.1.js')}}"></script>
        <script>
            //var canvas = $('#drawCanvas');
            //var context = canvas.getContext('2d');
            $('#drawCanvas').click(function(e){
                //alert("[X]: " + e.clientX + " [Y]: " + e.clientY);
                alert("Hello");
            });
        </script>
    </head>
    <body>
        <div>
            <h1> Draw </h1>
            <img id="drawImg" src="/monitor_img" width="500" height="500"> </img>
            <h2> Draw Canvas </h2>
            <canvas id="drawCanvas" width="500" height="500", style="border:1px solid #c3c3c3;"></canvas>
        </div>

    </body>
</html>
